<h1>Welcome to the TAMU Polo Club</h1>

<table class="table table-striped col-md-12" id="horses">
  <thead>
    <tr>
      <th>  <%=link_to "Members",members_url %> </th>
      <th>  <%=link_to "Officers",officers_url %> </th>
      <th>  <%=link_to "The Herd",horses_url %> </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


