<h1>Contact Us</h1>
<h2>
WELCOME TO THE OFFICIAL AGGIE POLO CLUB WEBSITE!
</h2>
<div>
<%= image_tag "p1", height: 500 %>
</div>
<p>
Welcome to the Texas A&M Polo Club Website! Navigate the tabs for information about the team, club, horses, merchandise, and donating to the club. Make sure you follow us on Instagram and Snapchat and like us on Facebook! For directions to our barn and arena click on “Facilities.”
</p>

<h3>
ABOUT US
<h3>
<p>
The Texas A&M Polo club, founded in 1967, assists both men and women in learning and refining the basic skills of polo so that they can compete at a local, regional, and national level. Intra-club games are scheduled to provide experience for novice members. The club has a string of about twenty polo ponies, so owning a horse is not a prerequisite for membership. All members are expected to assist in the daily care and feeding of the club’s ponies.
</p>
<p>
The club is dedicated to introducing polo to anyone interested in learning about the “Sport of Kings,” producing winning athletes, and striving to win the coveted USPA Intercollegiate National Championship.
</p>
<p>
The Texas A&M Polo Club is a part of Texas A&M Rec Sports and is advised by Keith Joseph.
</p>