<h1><em><%=@riding_schedule.riding_datetime.strftime("%B %d - %I:%M %p")%></em> </h1>

<table class="table table-striped col-md-12" id="riding_times">
<thead>
  <tr>
    <th>Rider</th>
    <th>Horse</th>
    <th>Brand Number</th>
  </tr>
</thead>
<tbody>
    <%= render @riding_schedule.riding_times %>
</tbody>
</table>

<%= button_to 'Sign up', new_riding_schedule_riding_time_path(@riding_schedule), method: 'get'%>
<%= render "riding_schedules/backToRidingSchedules" %>

