<h1>Welcome! <%= @member.std_first_name %></h1>

<div class = "border col-md-3">
          <table class="table table-striped col-md-12" id="homepage">
            <thead>
            <tr>
                <th>  <%=link_to "Edit Password",edit_user_registration_path %> </th>
                <th>  <%=button_to "Log out", destroy_user_session_path, :method => :delete %> </th>
            </tr>
            </thead>
        </table>
</div>